APP_NAME="San Enrique LGU Scholarship"
APP_ENV=production
APP_URL=
APP_DEBUG=false
APP_BASE_PATH=
APP_STORAGE_PATH=

DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=lgu_san_enrique_scholarship
DB_USERNAME=
DB_PASSWORD=
DB_SSL_CA=
DB_SSL_VERIFY_SERVER_CERT=true

TEXTBEE_API_KEY=
TEXTBEE_DEVICE_ID=

MAIL_HOST=smtp.example.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=no-reply@example.com
MAIL_FROM_NAME="San Enrique LGU Scholarship"
